.page-header > a{
  color: white;
}

::selection {
  background-color: #b5e2e7;
}

::-moz-selection {
  background-color: #8ac7d8;
}

.card {
  background: #E8E8E8;
}

.container {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

#logbox {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  width: 700px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: #33b35a !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  position: relative;
  width: 20%;
  height: 30px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: #33b35a;
  border: none;
}

.inputButton1 {
  float: left;
  width: 20%;
  height: 30px;
  margin: 30px auto 30px;
  color: white;
  background-color: #33b35a;
}

.inputButton2 {
  float: right;
  width: 20%;
  height: 30px;
  margin: 30px auto 30px;
  color: white;
  background-color: #33b35a;
}

