<div class="container-fluid">
    <br>
    <div class="page-header">
        <a routerLink="/systems/attendance/list" class="btn btn-primary">View Attendance</a>
    </div>
    <br>
    <div class="card">
        <br>
        <div class="tab">
            <button class="tablinks active" id="btn_attendance_tab" (click)="openTab('attendance_tab')">Daily Attendance</button>
            
        </div>
        <div id="logbox">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>

                <!--- ADD ATTENDANCE TAB CONTENT -->
                <div id="attendance_tab" class="tabcontent">
                    <h3  class="tab_title">Fill Attendance</h3>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">Name</label>
                      <div class="col-10">
                          <input class="form-control" type="text" title="Please fill only characters" formControlName="name" required>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Library Number</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="lib_no" required>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">Standard</label>
                      <div class="col-10">
                        <select class="form-control" formControlName="standard" placeholder="Standard" required>
                          <option value="nursery" selected>Nursery</option>
                          <option value="lkg">LKG</option>
                          <option value="ukg">UKG</option>
                          <option value="1st">1st</option>
                          <option value="2nd">2nd</option>
                          <option value="3rd">3rd</option>
                          <option value="4th">4th</option>
                          <option value="5th">5th</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">Section</label>
                      <div class="col-10">
                        <select class="form-control" formControlName="section" placeholder="Standard" required>
                          <option value="a" selected>A</option>
                          <option value="b">B</option>
                          <option value="c">C</option>
                          <option value="d">D</option>
                          <option value="e">E</option>
                          <option value="f">F</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">Status</label>
                      <div class="col-10">
                        <select class="form-control" formControlName="status" placeholder="Standard" required>
                          <option value="absent" selected>Absent</option>
                          <option value="present">Present</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Date of Submit</label>
                        <div class="col-10">
                            <input class="form-control" type="text" onfocus="(this.type='date')" formControlName="dos" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Save Attendance</button>
                </div>
            </form>
        </div>
    </div>
</div>
