<div class="container-fluid">
	<br>
	<div class="page-header">
		<a routerLink="/systems/attendance/list" class="btn btn-primary">View Student Attendance</a>
	</div>
	<br>
	<div class="card">
		<br>
		<div class="tab">
			<button class="tablinks active" id="btn_studentattendance_tab" (click)="openTab('studentattendance_tab')">STUDENT ATTENDANCE</button>
		</div>

		<div id="logbox">
			<form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>

				<!--- STUDENT ATTENDANCE TAB CONTENT -->	
				<div id="studentattendance_tab" class="tabcontent">
					<br><h3 class="tab_title">Attendance</h3>
					<div class="form-group row">
            			<label class="col-2 col-form-label">Name</label>
            			<div class="col-10">
              				<input class="form-control" type="text"  formControlName="name">
            			</div>
          			</div>
					<div class="form-group row">
                        <label class="col-2 col-form-label">Standard</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="standard" placeholder="Standard" required>
                                <option value="nursery" selected>Nursery</option>
                                <option value="lkg">LKG</option>
                                <option value="ukg">UKG</option>
                                <option value="1st">1st</option>
                                <option value="2nd">2nd</option>
                                <option value="3rd">3rd</option>
                                <option value="4th">4th</option>
                                <option value="5th">5th</option>
                            </select>
                        </div>
                    </div>
          			 <div class="form-group row">
                        <label class="col-2 col-form-label">Section</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="section" placeholder="Standard" required>
                                <option value="a" selected>A</option>
                                <option value="b">B</option>
                                <option value="c">C</option>
                                <option value="d">D</option>
                                <option value="e">E</option>
                                <option value="f">F</option>
                            </select>
                        </div>
                    </div>
                     <div class="form-group row">
                        <label class="col-2 col-form-label">Status</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="status" placeholder="Status" required>
                                <option value="present" selected>Present</option>
                                <option value="absent">Absent</option>
                            </select>
                        </div>
                    </div>
          			<div class="form-group row">
            			<label class="col-2 col-form-label">Date</label>
            			<div class="col-10">
              				<input class="form-control" type="text" onfocus="(this.type='date')" formControlName="dos" required>
            			</div>
          			</div>
          			<div class="sbt_btn">
            			<button class="btn btn-primary" type="submit">Save</button>
          			</div>
          		</div>
        	</form>
      	</div>
    </div>	
</div>           	
 	