<div class="container-fluid">
    <br>
    <div class="page-header">
        <a routerLink="/users/student/list" class="btn btn-primary">View All Students</a>
    </div>
    <br>
    <div class="card">
        <br>
        <div class="tab">
            <button class="tablinks active" id="btn_student_tab" (click)="openTab('student_tab')">Student Details</button>
            <button class="tablinks" id="btn_parent_tab" (click)="openTab('parent_tab')">Parents Details</button>
        </div>

        <div id="logbox">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" ngNativeValidate>

                <!--- STUDENT DETAILS TAB CONTENT -->
                <div id="student_tab" class="tabcontent">
                    <br><h3 class="tab_title">Fill Student Details</h3>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Name</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="name" value={{dataSource.name}}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Library Number</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="lib_no" value={{dataSource.lib_no}}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Gender</label>
                        <div class="col-10">
                            <div class="radio" >
                                <label>
                                    <input type="radio" value="MALE" name="gender" formControlName="gender"/> Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="FEMALE" name="gender" formControlName="gender"/> Female
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Standard</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="standard" placeholder="Standard">
                                <option value="nursery" selected>Nursery</option>
                                <option value="lkg">LKG</option>
                                <option value="ukg">UKG</option>
                                <option value="1st">1st</option>
                                <option value="2nd">2nd</option>
                                <option value="3rd">3rd</option>
                                <option value="4th">4th</option>
                                <option value="5th">5th</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Section</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="section" placeholder="Standard">
                                <option value="a" selected>A</option>
                                <option value="b">B</option>
                                <option value="c">C</option>
                                <option value="d">D</option>
                                <option value="e">E</option>
                                <option value="f">F</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Aadhar ID</label>
                        <div class="col-10">
                            <input class="form-control" type="text" value={{dataSource.aadhar_id}} formControlName="aadhar_id" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Date of Birth</label>
                        <div class="col-10">
                            <input class="form-control" type="text" onfocus="(this.type='date')" value={{dataSource.dob}} formControlName="dob" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Date of Joining</label>
                        <div class="col-10">
                            <input class="form-control" type="text" onfocus="(this.type='date')" value={{dataSource.doj}} formControlName="doj" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Previous School</label>
                        <div class="col-10">
                            <input class="form-control" type="string" value={{dataSource.previous_school}} formControlName="previous_school" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Upload Student Image</label>
                        <div class="col-10">
                            <input type="file" id="img" (change)="onFileChange($event)" #fileInput>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="openTab('edu_tab')">Next Step - Fill Parent's Details > </button>
                </div>
               
                <!--- PARENT DETAILS TAB CONTENT -->
                <div id="parent_tab" class="tabcontent">
                    <br><h3 class="tab_title">Fill Parents Details</h3>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Mother Name</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="mother_name" value={{dataSource.parent.mother_name}} >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Mother Email</label>
                        <div class="col-10">
                            <input class="form-control" type="email" formControlName="mother_email" value={{dataSource.parent.mother_email}} >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Mother Mobile No.</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" formControlName="mother_mob_no"  value={{dataSource.parent.mother_mob_no}}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Mother Telephone No.</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" formControlName="mother_tel_no"  value={{dataSource.parent.mother_tel_no}} >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Father Name</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="father_name"   value={{dataSource.parent.father_name}}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Father Email</label>
                        <div class="col-10">
                            <input class="form-control" type="email" formControlName="father_email" value={{dataSource.parent.father_email}} >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Father Mobile No.</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" formControlName="father_mob_no"  value={{dataSource.parent.father_mob_no}}  >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Father Telephone No.</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" formControlName="father_tel_no"  value={{dataSource.parent.father_tel_no}} >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Password</label>
                        <div class="col-10">
                            <input class="form-control" type="password" formControlName="password"} >
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="openTab('student_tab')">< Previous Step - Go To Student Details </button>
                    <div class="sbt_btn">
                        <button class="btn btn-primary" type="submit">Save Student Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>