<br>
<div class="container-fluid">
    <div class="page-header">
        <a routerLink="/users/principal/add" class="btn btn-primary">Add Principal</a>
    </div>
    <br><br>
    <div class="card">
        <div class="table">          
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Aadhar ID</th>
                      <th>Details</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                     <tr *ngFor="let values of dataSource | paginate: { itemsPerPage: 10, currentPage: p }; let i= index" >
                        <td>{{ (p - 1) * 10 + i +1 }}</td>
                        <td>{{values.name}}</td>
                        <td>{{values.user.email}}</td>
                        <td>{{values.aadhar_id}}</td>
                        <td><a (click) = "savePrincipalId(values._id)" routerLink="/users/principal/details" >Details</a></td> 
                        <td><i class="fa fa-pencil" routerLink="#"></i></td>
                        <td><i class="fa fa-trash" routerLink="#"></i></td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
