.red{
    color:red;
    }

.page-header > a{
	color: white;
}

#logbox{
	padding: 10px;
  margin: 20px ;
  background-color: #F5F5F5;
}
.nav-tabs > li {
  float:none;
  display:inline-block;
  zoom:1;
}

.nav-tabs {
    text-align:center;
}
.sbt_btn{
	text-align:center;
}