<br>
<div class="container-fluid">
    <br>
    <div class="page-header">
        <a routerLink="/users/student/list" class="btn btn-primary">View All Students</a>
    </div>
    <br>
    <div class="card">
        <br>
        <div class="tab">
            <button class="tablinks active" id="btn_student_tab" (click)="openTab('student_tab')">Student Details</button>
            <button class="tablinks" id="btn_parent_tab" (click)="openTab('parent_tab')">Parents Details</button>
        </div>
        <br>
        <h3 class="tab_title">Fill Student Details</h3>
        <div id="logbox">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate enctype="multipart/form-data">

                <!--- STUDENT DETAILS TAB CONTENT -->
                  <div id="student_tab" class="tabcontent">
                
                    <br>
                    <div class="row">
                        <div class="col-9">
                            <div class="form-group row"> 
                                <label>Name</label>
                                <div class="col-9">
                                    <input class="form-control" type="text" formControlName="name" [(ngModel)]="data && data.name" placeholder="Name" required>
                                </div>
                                <br>
                            </div> 
                             <div class="form-group row">
                                <label>Library Number</label>
                                <div class="col-9">
                                    <input class="form-control" type="text" formControlName="lib_no" [(ngModel)]="data && data.lib_no" placeholder="Library Number"  required>
                                </div>
                            </div> 
                            <div class="form-group row"> 
                                <label>Gender</label>
                                <div class="col-9">
                                    <div class="radio" >
                                        <label>
                                            <input type="radio" value="MALE" name="gender" formControlName="gender" [checked]='true'  required /> Male
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="FEMALE" [(ngModel)]="data && data.gender" name="gender" placeholder="Gender" formControlName="gender"/> Female
                                        </label>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="hide">
                                <label class="hand-cursor">
                                    <input #fileInput type="file" id="img" (change)="onFileChange($event)">
                                    <div class="img-wrapper">
                                        <img  height="200" width="205" src="{{url||'../../../assets/images/user_profile.png'}}">
                                        <div class="img-overlay">
                                            <span class="fa fa-camera"></span>
                                            <span class="photo_text hidden-xs">Upload Photo</span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                   <div class="form-group row">
                        <label >Standard</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="standard" placeholder="Standard" [(ngModel)]="data && data.standard" required>
                                <option value="" [selected]="true" [disabled] hidden>Select Standard</option>
                                <option value="nursery">Nursery</option>
                                <option value="lkg">LKG</option>
                                <option value="ukg">UKG</option>
                                <option value="1st">1st</option>
                                <option value="2nd">2nd</option>
                                <option value="3rd">3rd</option>
                                <option value="4th">4th</option>
                                <option value="5th">5th</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label >Section</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="section" placeholder="Section" [(ngModel)]="data && data.section" required>
                                <option value="" [selected]="true" [disabled] hidden>Select Section</option>
                                <option value="A" selected>A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label >Aadhar ID</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="aadhar_id" [(ngModel)]="data && data.aadhar_id" placeholder="Aadhra ID" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Date of Birth</label>
                        <div class="col-10">
                            <input class="form-control" type="date" formControlName="dob" [(ngModel)]="data && data.dob" placeholder="Date of Birth" required>
                        </div>
                    </div>
                   <div class="form-group row">
                        <label>Date of Joining</label>
                        <div class="col-10">
                            <input class="form-control" type="text" onfocus="(this.type='date')" [(ngModel)]="data && data.doj" placeholder="Date of Joining" formControlName="doj" required>
                        </div>
                    </div>    
                  <div class="form-group row">
                        <label>Previous School</label>
                        <div class="col-10">
                            <input class="form-control" type="string" formControlName="previous_school" [(ngModel)]="data && data.previous_school" placeholder="Previous School"  required>
                        </div>
                    </div>                    
                        <button class="btn btn-primary" (click)="openTab('parent_tab')">Next Step - Fill Parent's Details > </button>                
                </div>

                <!--- PARENT DETAILS TAB CONTENT -->
                <div id="parent_tab" class="tabcontent">
                    <br><h3 class="tab_title">Fill Parents Details</h3>
                    <div class="form-group row">
                        <label>Mother Name</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="mother_name" [(ngModel)]="data && data.parent.mother_name" placeholder="Mother Name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label >Mother Email</label>
                        <div class="col-10">
                            <input class="form-control" type="email" formControlName="mother_email" [(ngModel)]="data && data.parent.mother_email" placeholder="Mother Email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label >Mother Mobile No.</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" formControlName="mother_mob_no" [(ngModel)]="data && data.parent.mother_mob_no" placeholder="Mother Mobile No" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Mother Tel No.</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" formControlName="mother_tel_no" [(ngModel)]="data && data.parent.mother_tel_no" placeholder="Mother Tel No" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label >Father Name</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="father_name" [(ngModel)]="data && data.parent.father_name" placeholder="Father Name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Father Email</label>
                        <div class="col-10">
                            <input class="form-control" type="email" formControlName="father_email" [(ngModel)]="data && data.parent.father_email" placeholder="Father Email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Father Mobile No.</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" formControlName="father_mob_no" [(ngModel)]="data && data.parent.father_mob_no" placeholder="Father Mobile No" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Father Tel No.</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" formControlName="father_tel_no" [(ngModel)]="data && data.parent.father_tel_no" placeholder="Father Tel No" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label >Password</label>
                        <div class="col-10">
                            <input class="form-control" type="password" formControlName="password" [(ngModel)]="data && data.parent.password" placeholder="Password" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="openTab('student_tab')">< Previous Step - Go To Student Details </button>
                    <div class="sbt_btn" >
                        <button class="btn btn-primary" type="submit">Save Student Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>