<div class="container-fluid">
    <br>
    <div class="page-header">
        <a routerLink="/users/student/list" class="btn btn-primary">View All Students</a>
    </div>
    <br>
    <div  class="card">
        <br>
        <ul class="nav nav-tabs">
            <li class="active"><a class="btn" data-toggle="tab" href="#student_tab">STUDENT DETAILS</a></li>
            <li><a class="btn" data-toggle="tab" href="#parent_tab">PARENTS DETAILS</a></li>
        </ul>
        <div class="main-center">
        <form  [formGroup]="form" (ngSubmit)="onSubmit()">

            <div  class="tab-content clearfix">
                <div  id="student_tab" class="tab-pane active">
                    <br>
                    <h3>Fill Student Details</h3>

                    <div class="form-group">
                        <input type="text" class="form-control" id="name" formControlName="name" value="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label>Gender: </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">female
                        </label>
                    </div>


                    <div class="form-group">
                        <input type="text" class="form-control" id="lib_no" formControlName="lib_no" placeholder="Library Number" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="standard" formControlName="standard" placeholder="Standard" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="section" formControlName="section" placeholder="Section" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="aadhar_id" formControlName="aadhar_id" placeholder="Aadhar ID" required>
                    </div> 
                    <div class="form-group">
                        <input type='text'  onfocus="(this.type='date')" class="form-control"  formControlName="dob" placeholder="Date of Birth"> 
                    </div>
                    <div class="form-group">
                         <input type="text"  onfocus="(this.type='date')" class="form-control"  formControlName="doj" placeholder="Date of Joining" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="previous_school" formControlName="previous_school" placeholder="Previous School" required>
                    </div>           
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" required>
                    </div>
                    <ul class="nav nav-tabs">
                        <li><a class="btn btn-primary pull-right" data-toggle="tab" href="#parent_tab">Next Step - Fill Parents Details</a></li>
                    </ul>
                    <!-- <a class="btn btn-primary pull-right" data-toggle="tab" href="#parent_tab">Next</a> -->
                </div>
                <div id="parent_tab" class="tab-pane fade">
                    <br>
                    <h3>Fill Parents Details</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" id="mother_name" formControlName="mother_name" placeholder="Mother Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="mother_email" formControlName="mother_email" name="mother_email" placeholder="Mother Email " required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="mother_contact" formControlName="mother_contact" placeholder="Mother Contact" required>
                    </div> 
                    <div class="form-group">
                        <input type="text" class="form-control" id="mother_tel_no" formControlName="mother_tel_no" placeholder="Mother Telephone No" required>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="father_name" formControlName="father_name" placeholder="Father Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="father_email" formControlName="father_email" placeholder="Father Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="father_contact" formControlName="father_contact" placeholder="Father Contact" required>
                    </div> 
                    <div class="form-group">
                        <input type="text" class="form-control" id="father_tel_no" formControlName="father_tel_no" placeholder="Father Telephone No" required>
                    </div>
                    <div class="nav nav-tabs">
                        <a class="btn btn-primary" id="previous" data-toggle="tab" href="#student_tab">Previous Step - Go to  Student Details</a>
                    </div>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Save Data</button>
                </div>
            </div>
        </form>
    </div>

    </div>
</div>
