<div class="container-fluid">
    <br>
    <div class="page-header">
        <a routerLink="/users/teacher/list" class="btn btn-primary">View Teacher Data</a>
    </div>
    <br>
    <div class="card">
        <br>
        <div class="tab">
            <button class="tablinks active" id="btn_teacher_tab" (click)="openTab('teacher_tab')">PERSONAL DETAILS</button>
            <button class="tablinks" id="btn_edu_tab" (click)="openTab('edu_tab')">EDUCATIONAL DETAILS</button>
        </div>
        <div id="logbox">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>

                <!--- TEACHER DETAILS TAB CONTENT -->
                <div id="teacher_tab" class="tabcontent">
                    <h3  class="tab_title">Fill Personal Details</h3>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Name</label>
                        <div class="col-10">
                            <input class="form-control" type="name" pattern="^[A-Za-z]$" minlength="2" title="Please fill only characters" formControlName="name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Gender</label>
                        <div class="col-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="MALE" name="gender" formControlName="gender" required/> Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="FEMALE" name="gender" formControlName="gender"/> Female
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Aadhar ID</label>
                        <div class="col-10">
                            <input class="form-control" type="text" pattern="^[0-9]$" length="12" title="Please fill your 12 digits number" formControlName="aadhar_id" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">Date of Birth</label>
                        <div class="col-10">
                            <input class="form-control" type="text" onfocus="(this.type='date')" formControlName="dob" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Date of Joining</label>
                        <div class="col-10">
                            <input class="form-control" type="text" onfocus="(this.type='date')" formControlName="doj" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Address</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="address" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Marital Status</label>
                        <div class="col-10">
                            <input class="form-control" type="string"  formControlName="marital_status" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Father Name</label>
                        <div class="col-10">
                            <input class="form-control" type="name" pattern="^[A-Za-z]$" minlength="2" title="Please fill only characters" formControlName="father_name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Telephone No</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" pattern="^\d{4}\d{6}$" title="Please fill your number with code" formControlName="tel_no" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Mobile No</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" pattern="^\d{3}\d{3}\d{4}$" title="Please fill your 10 digit number" formControlName="mob_no" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Upload Photo</label>
                        <div class="col-10">
                            <input class="form-control" type="photo"  title="Please upload your picture" formControlName="name" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Email</label>
                        <div class="col-10">
                            <input class="form-control" type="email" pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" formControlName="email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Password</label>
                        <div class="col-10">
                            <input class="form-control" type="password" formControlName="password" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="openTab('edu_tab')">Next Step - Fill Educational Details > </button>
                </div>

                <!--- EDUCATION DETAILS TAB CONTENT -->
                <div id="edu_tab" class="tabcontent">
                    <br>
                    <h3  class="tab_title">Fill Educations and Bank Details</h3>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Education</label>
                        <div class="col-10">
                            <input class="form-control" type="text"  formControlName="education" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Working Exp</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="work_exp" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Bank Name</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="bank_name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Bank Account No</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="bank_acc_no" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="openTab('teacher_tab')">< Previous Step - Fill Personal Details </button>
                    <div class="sbt_btn">
                        <button class="btn btn-primary" type="submit">Save Teacher Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
