<div class="container">
<br>
<a routerLink="/users/student/add" class="btn btn-primary">Add Student</a>
<a routerLink="/users/student/list" class="btn btn-primary">All Students</a>   
  <div class="page-header">
    <a routerLink="/users/student/details"></a>
    <h2 class="tab_title">Student Profile</h2>
  </div>
  <hr class="featurette-divider">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="circle">
            <img src="../../../assets/images/people.png" height="129px" width="129px">
          </div>
          <br>
          <table class="table table-striped" *ngFor="let values of dataSource">
            <thead>
              <tr>
                <th>Name</th>
                <td>{{values.name}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Library Number</th>
                <td>{{values.lib_no}}</td>
              </tr>
              <tr>
                <th>Standard</th>
                <td>{{values.standard}}</td>
              </tr>
              <tr>
                <th>Aadhar ID</th>
                <td>{{values.aadhar_id}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="tab" align="right">
            <button class="tablinks active" id="btn_student_tab" (click)="openTab('student_tab')">Student Details</button>
            <button class="tablinks" id="btn_parent_tab"(click)="openTab('parent_tab')">Parents Details</button>
          </div>
          <div id="student_tab" class="tabcontent">
            <br>
            <h2 class="tab_title">Personal Details</h2>
            <hr class="featurette-divider">  
              <table  class="table table-striped" width="100%" *ngFor="let values of dataSource">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td>{{values.name}}</td>
                    <th>Library Number</th>
                    <td>{{values.lib_no}}</td>
                  </tr>
                  <tr>
                    <th>Gender</th>
                    <td>{{values.gender}}</td>
                    <th>Aadhar ID</th>
                    <td>{{values.aadhar_id}}</td>
                  </tr>
                  <tr>
                    <th>Standard</th>
                    <td>{{values.standard}}</td>
                    <th>Section</th>
                    <td>{{values.section}}</td>
                  </tr>
                  <tr>
                    <th>Date of Birth</th>
                    <td>{{values.dob}}</td>
                    <th>Date of Joining</th>
                    <td>{{values.doj}}</td>
                  </tr>
                  <tr>
                    <th>Previous School</th>
                    <td>{{values.previous_school}}</td>
                    <th></th>
                    <td></td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div id="parent_tab" class="tabcontent">
            <br>
            <h2 class="tab_title">Parent's Details</h2>
            <hr class="featurette-divider">
            <div class="container">        
              <table  class="table table-striped" width="100%" *ngFor="let values of dataSource">
                <tbody>
                  <tr>
                    <th> Mother Name</th>
                    <td>{{values.parent.mother_name}} </td>
                    <th>Father Name</th>
                    <td>{{values.parent.father_name}} </td>
                  </tr>
                  <tr>
                    <th>Mother Email</th>
                    <td>{{values.parent.mother_email}}</td>
                    <th>Father Email</th>
                    <td>{{values.parent.father_email}}</td>
                  </tr>
                  <tr>
                    <th>Mother Mobile No</th>
                    <td>{{values.parent.mother_mob_no}}</td>
                    <th>Father Mobile No</th>
                    <td>{{values.parent.fatherr_mob_no}}</td>
                  </tr>
                  <tr>
                    <th>Mother Telephone No</th>
                    <td>{{values.parent.mother_tel_no}}</td>
                    <th>Father Telephone No</th>
                    <td>{{values.parent.father_tel_no}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>