body {font-family: Arial;}



/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 3px solid #5cb85c;
    background-color: #FFFFFF;
}

/* Style the height of  the tab */
.card {
  height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #555555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    
  }


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #e2720a;
    border-bottom: 0px solid #e2720a; 
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:  #33b35a;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #FFFFFF;
    border-top: none;
}

.container {

  background-color: #FFFFFF;
}
.circle {
  
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
 