<!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><img src="assets/img/avatar-1.png" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5">Navjot Singh</h2><span>Project Architect</span>
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">Main</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a routerLink="/dashboard"> Dashboard</a></li>
            <li><a href="#userManagementDropdown" aria-expanded="false" data-toggle="collapse"><i><img src="../../../assets/images/user.png" width="18" height="18"></i>User Management</a>
              <ul id="userManagementDropdown" class="collapse list-unstyled ">
                <li><a routerLink="/users/student/list"> <img src="../../../assets/images/study.png" width="18" height="18"> Student</a></li>
                <li><a routerLink="/users/teacher/list"> <img src="../../../assets/images/presentation.png" width="18" height="18"> Teacher</a></li>
                <li><a routerLink="/users/transport/list"> <img src="../../../assets/images/bus.png" width="18" height="18"> Transport Manager</a></li>
                <li><a routerLink="/users/finance/list"> <img src="../../../assets/images/bar.png" width="18" height="18"> Finance Manager</a></li>
                <li><a routerLink="/users/principal/list"> <img src="../../../assets/images/manager.png" width="18" height="18"> Principal</a></li>
                <li><a routerLink="/users/counsellor/list"> <img src="../../../assets/images/counsler.png" width="18" height="18"> Counsellor</a></li>
              </ul>
            </li>
            <li><a href="#systemManagementDropdown" aria-expanded="false" data-toggle="collapse"><img src="../../../assets/images/settings.png" width="18" height="18">
              System Management </a>
              <ul id="systemManagementDropdown" class="collapse list-unstyled ">
                <li><a href="#stationaryDropdown" aria-expanded="false" data-toggle="collapse">
            <img src="../../../assets/images/desktop-tools.png" width="18" height="18">Stationery</a>
              <ul id="stationaryDropdown" class="collapse list-unstyled ">
                <li><a routerLink="/systems/stationery/list"><img src="../../../assets/images/stationary_request.png" width="18" height="18"> Stationary Requests</a></li>
              </ul>
            </li>
                <li><a routerLink="/systems/attendance/list"> <img src="../../../assets/images/attendance.png" width="18" height="18"> Attendence</a></li>
                <li><a routerLink="/layouts/notfoundpage"> <img src="../../../assets/images/designation.png" width="18" height="18"> Designations</a></li>
                <li><a routerLink="/layouts/notfoundpage"> <img src="../../../assets/images/standard.png" width="18" height="18"> Standards</a></li>
                <li><a routerLink="/layouts/notfoundpage"> <img src="../../../assets/images/batche.png" width="18" height="18"> Sections</a></li> 
              </ul>
            </li>
            <li><a routerLink="/layouts/notfoundpage"> <img src="../../../assets/images/pie.png" width="18" height="18"> Reports</a></li>
            <li><a routerLink="/layouts/notfoundpage"> <img src="../../../assets/images/payment.png" width="18" height="18"> Payments</a></li>
          </ul>
        </div>
        <div class="admin-menu">
          <h5 class="sidenav-heading"> Personal</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled"> 
            <li><a routerLink="/layouts/notfoundpage"> <img src="../../../assets/images/setting.png" width="18" height="18"> Settings</a></li>
            <li><a routerLink="/layouts/notfoundpage"> <img src="../../../assets/images/profile.png" width="18" height="18"> Profile</a></li>
            <li><a routerLink="/layouts/notfoundpage"> <img src="../../../assets/images/logout.png" width="18" height="18"> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>