 <!-- Side Navbar -->
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><img src="assets/img/avatar-1.png" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5">Navjot Singh</h2><span>Project Architect</span>
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">Main</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a routerLink="/dashboard"> <i class="icon-home"></i>Dashboard</a></li>
            <li><a href="#userManagementDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-user"></i>User Management </a>
              <ul id="userManagementDropdown" class="collapse list-unstyled ">
                <li><a routerLink="/users/student/list"><i class="icon-user"></i>Student</a></li>
                <li><a routerLink="/users/teacher/list"><i class="icon-mail"></i>Teacher</a></li>
                <li><a routerLink="/users/transport/list"><i class="icon-mail"></i>Transport Manager</a></li>
                <li><a routerLink="/users/finance/list"><i class="icon-mail"></i>Finance Manager</a></li>
                <li><a routerLink="/users/principal/list"><i class="icon-mail"></i>Principal</a></li>
                <li><a routerLink="/users/counsellor/list"><i class="icon-mail"></i>Counsellor</a></li>
              </ul>
            </li>
            <li><a href="#systemManagementDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>System Management </a>
              <ul id="systemManagementDropdown" class="collapse list-unstyled ">
                <li><a routerLink="/system"><i class="icon-user"></i>Designations</a></li>
                <li><a routerLink="/system"><i class="icon-user"></i>Standards</a></li>
                <li><a routerLink="/system"><i class="icon-user"></i>Batches</a></li>
              </ul>
            </li>
            <li><a href="#attendanceDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-user"></i>Attendance</a>
              <ul id="attendanceDropdown" class="collapse list-unstyled ">
                <li><a routerLink="/system"><i class="icon-user"></i>Designations</a></li>
                <li><a routerLink="/system"><i class="icon-user"></i>Standards</a></li>
                <li><a routerLink="/system"><i class="icon-user"></i>Batches</a></li>
              </ul>
            </li>
            <li><a href="#stationaryDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-user"></i>Stationary</a>
              <ul id="stationaryDropdown" class="collapse list-unstyled ">
                <li><a routerLink="/stationary"><i class="icon-user"></i>Stationary Requests</a></li>
                <li><a routerLink="/stationary"><i class="icon-user"></i>Stationary Units</a></li>
              </ul>
            </li>
            <li><a routerLink="charts.html"> <i class="fa fa-bar-chart"></i>Reports</a></li>
            <li><a routerLink="/payment"> <i class="icon-grid"></i>Payments</a></li>
          </ul>

        </div>
        <div class="admin-menu">
          <h5 class="sidenav-heading">Personal</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled"> 
            <li><a routerLink="/settings"> <i class="icon-form"></i>Settings</a></li>
            <li><a routerLink="/profile"> <i class="icon-form"></i>Profile</a></li>
            <li><a routerLink="/logout"> <i class="fa fa-sign-out"></i>Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>