<br>
<div class="container-fluid">
    <div class="page-header">
        <a routerLink="/users/transport/add" class="btn btn-primary">Add Finance Manager</a>
        <a class="btn btn-primary" (click)="toggleSearch()">Search Finance Manager</a>
        <a (click)="getAllFinanceManagers()" class="btn btn-primary">All Finance Managers</a>
    </div>
    <br><br>
    <div class="card">
        <div *ngIf="showSearch"  id="search">
            <div class="card" id="search_form">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <h3 class="tab_title">Search Student</h3>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Search By Name</label>
                        <div class="col-10">
                            <input class="form-control" type="text"  formControlName="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Search By Email</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="email">
                        </div>
                    </div>
                    <div class="sbt_btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div> 
        <div class="table">          
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>DOB</th>
                        <th>DOJ</th>
                        <th>Marital Status</th>
                        <th>Mob No.</th>
                        <th>Tel No.</th>
                        <th>Father Name</th>
                        <th>Education</th>
                        <th>Work Experience</th>
                        <th>Bank Name</th>
                        <th>Bank Acc. No.</th>
                        <th>Aadhar ID</th>
                        <th>Address</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let values of dataSource; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{values.name}}</td>
                        <td>{{values.user.email}}</td>
                        <td>{{values.dob}}</td>
                        <td>{{values.doj}}</td>
                        <td>{{values.marital_status}}</td>
                        <td>{{values.mob_no}}</td>
                        <td>{{values.tel_no}}</td>
                        <td>{{values.father_name}}</td>
                        <td>{{values.education}}</td>
                        <td>{{values.work_exp}}</td>
                        <td>{{values.bank_name}}</td>
                        <td>{{values.bank_acc_no}}</td>
                        <td>{{values.aadhar_id}}</td>
                        <td>{{values.address}}</td>
                        <td><i class="fa fa-pencil" routerLink="#"></i></td>
                        <td><i class="fa fa-trash" routerLink="#"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
