<br>
<div class="container-fluid">
    <div class="page-header">
        <a routerLink="/users/transport/add" class="btn btn-primary">Add New Finance Manager</a>

        <a routerLink="/users/transport/list" class="btn btn-primary">All Finance Manager</a>
    </div>
    <br><br>
    <div class="card table-responsive-sm">
        <div class="table">          
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Father Name</th>
                        <th>Section</th>
                        <th>DOB</th>
                        <th>DOJ</th>
                        <th>Age</th>
                        <th>Aadhar Id</th>
                        <th>Marital Status</th>
                        <th>Domicile</th>
                        <th>Address</th>
                        <th>Education</th>
                        <th>Working Exp</th>
                        <th>Bank Name</th>
                        <th>Bank Account No</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let values of dataSource; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{values.name}}</td>
                        <td>{{values.designation}}</td>
                        <td>{{values.father_name}}</td>
                        <td>{{values.section}}</td>
                        <td>{{values.dob}}</td>
                        <td>{{values.doj}}</td>
                        <td>{{values.age}}</td>
                        <td>{{values.aadhar_id}}</td>
                        <td>{{values.domicile}}</td>
                        <td>{{values.parent.marital_status}}</td>
                        <td>{{values.parent.address}}</td>
                        <td>{{values.parent.eduction}}</td>
                        <td>{{values.parent.working_exp}}</td>
                        <td>{{values.parent.bank_name}}</td>
                        <td>{{values.parent.bank_acc_no}}</td>
                        <td><i class="fa fa-pencil" routerLink="#"></i></td>
                        <td><i class="fa fa-trash" routerLink="#"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
