<br>
<div class="container-fluid">
    <div class="page-header">
        <a routerLink="/users/student/add" class="btn btn-primary">Add Student</a>
        <a class="btn btn-primary" (click)="toggleSearch()">Search Student</a>
        <a (click)="getAllStudents()" class="btn btn-primary">All Students</a>
    </div>
    <br><br>
    <div class="card">
        <div *ngIf="showSearch"  id="search">
            <div class="card" id="search_form">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <h3 class="tab_title">Search Student</h3>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Search By Name</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Search By Library No.</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="lib_no">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Search BY Standard</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="standard" placeholder="Standard" >
                                <option value="nursery" selected>Nursery</option>
                                <option value="lkg">LKG</option>
                                <option value="ukg">UKG</option>
                                <option value="1st">1st</option>
                                <option value="2nd">2nd</option>
                                <option value="3rd">3rd</option>
                                <option value="4th">4th</option>
                                <option value="5th">5th</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Search By Section</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="section" placeholder="Standard" >
                                <option value="a" selected>A</option>
                                <option value="b">B</option>
                                <option value="c">C</option>
                                <option value="d">D</option>
                                <option value="e">E</option>
                                <option value="f">F</option>
                            </select>
                        </div>
                    </div>
                    <div class="sbt_btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table">          
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Lib No.</th>
                        <th>Standard</th>
                        <th>Section</th>
                        <th>DOB</th>
                        <th>DOJ</th>
                        <th>Prev School</th>
                        <th>Aadhar Id</th>
                        <th>Mother Name</th>
                        <th>Mother's Email</th>
                        <th>Mother's Mob No.</th>
                        <th>Mother's Tel No.</th>
                        <!-- <th>Details</th> -->
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let values of dataSource; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{values.name}}</td>
                        <td>{{values.gender}}</td>
                        <td>{{values.lib_no}}</td>
                        <td>{{values.standard}}</td>
                        <td>{{values.section}}</td>
                        <td>{{values.dob}}</td>
                        <td>{{values.doj}}</td>
                        <td>{{values.previous_school}}</td>
                        <td>{{values.aadhar_id}}</td>
                        <td>{{values.parent.mother_name}}</td>
                        <td>{{values.parent.mother_email}}</td>
                        <td>{{values.parent.mother_mob_no}}</td>
                        <td>{{values.parent.mother_tel_no}}</td> 
                        <!-- <td><a routerLink="/users/student/details" class="btn btn-primary">Details</a></td> -->
                        <td><i class="fa fa-pencil" routerLink="#"></i></td>
                        <td><i class="fa fa-trash" routerLink="#"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



